@charset 'utf-8';

/* Google Web Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

/* XEIcon CDN */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Default CSS */

/* Common CSS */
html {
	scroll-behavior: smooth;
}

* {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	outline: none;
}
body {
	margin: 0;
	/* position: relative; */
}

body.dark {
	background-color: #222;
}

.container {
	max-width: none !important;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
}

.section-inner {
	width: 1200px;
	margin: auto;
	padding: 50px;
}

section:nth-child(odd) {
	background-color: #f8f8f8;
	transition: 0.35s;
}

section:nth-child(odd).dark {
	background-color: rgb(72, 70, 70);
}

.section-header {
	display: flex;
	justify-content: left;
	padding-bottom: 20px;
}

.section-header h2 {
	font-size: 30px;
	font-weight: 500;
}

.section-header.dark h2 {
	font-size: 30px;
	font-weight: 500;
	color: #fff;
}

/* Slick */
.slick-initialized .slick-slide {
	margin: 20px;
}

.slick-prev:before, .slick-next:before {
	color: #fff;
	font-size: 30px;
	opacity: 100;
}

.slick-prev:before {
	content: '\F22D';
	font-family: bootstrap-icons;
	color: #555;
	font-size: 40px;
}

.slick-next:before {
	content: '\F231';
	font-family: bootstrap-icons;
	color: #555;
	font-size: 40px;
}

.slick-next, .slick-prev {
	width: 100px;
	height: 100px;
	z-index: 10;
}

.slick-next {
	right: -5%;
}

.slick-prev {
	left: -5%;
}

.slick-dots li button:before {
	font-size: 50px;
}

.slick-dots.dark li button:before {
	color: #fff;
}

.artist .slick-prev:before, .musicvideo .slick-prev:before {
	display: none;
}

.artist .slick-next:before, .musicvideo .slick-next:before {
	display: none;
}

/* Music Streaming Website */
/* ############## Header ############## */
header {
	position: fixed;
	width: 100%;
	background-color: #eeeded;
	display: flex;
	justify-content: center;
	z-index: 1000;
	transition: 0.35s;
}

header.dark {
	background-color: rgb(23, 20, 20);
}

.header-inner {
	width: 1300px;
	padding: 20px 0;
}

.lnb.dark a {
	color: #fff;
}

.lnb {
}

.logo {
	height: 50px;
	width: 200px;
}

.logo a {
	display: inline-block;
	background: url('../resources/images/Logo.png') no-repeat center center;
	background-size: cover;
	width: 200px;
	height: 50px;
	transition: 0.2s;
}

.logo.dark a {
	display: inline-block;
	background: url('../resources/images/Logodark.png') no-repeat center center;
	background-size: cover;
	width: 200px;
	height: 50px;
	transition: 0.2s;
}

.banner {
	display: flex;
	justify-content: space-between;
	height: 50px;
	line-height: 60px;
}

.lnb {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 20px;
	line-height: 50px;
}

.lnb a {
	transition: 0.1s;
	letter-spacing: 0.2dvh;
}

.lnb a:hover {
	font-weight: 500;
	color: inherit;
}

.darkmode {
	width: 30px;
	cursor: pointer;
	line-height: 50px;
}

.darkmode:before {
	content: '\F497';
	font-family: bootstrap-icons;
}

.darkmode.on:before {
	content: '\F1D2';
	font-family: bootstrap-icons;
	color: #fff;
}

nav {
	display: flex;
	justify-content: right;
	align-content: center;
	gap: 100px;
	height: 50px;
	line-height: 50px;
}

.sub-lnb {
	position: relative;
	display: flex;
	justify-content: center;
}

.sub-lnb input[type=search] {
	border: none;
	width: 300px;
	height: 50px;
	background-color: transparent;
	border-bottom: 1px solid #bbb;
	padding: 0px 5px;
	background: url('../resources/images/search.svg') no-repeat center right
		10px;
	position: absolute;
	top: 0;
	transform: translate(-100%, -10%);
}

.sub-lnb input[type=search].dark {
	border: none;
	width: 300px;
	background-color: transparent;
	border-bottom: 1px solid #bbb;
	padding: 0px 7px;
	background: url('../resources/images/search-dark.svg') no-repeat center
		right 10px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-100%, -10%);
	color: #fff;
}

.sub-lnb input[type=search]:focus {
	border-bottom: 1.5px solid #9d9b9b;
}

.gnb {
	display: flex;
	gap: 30px;
}

.gnb.dark a {
	color: #fff;
}

.gnb a {
	transition: 0.3s;
	padding: 0px 5px;
	position: relative;
	letter-spacing: 0.2dvh;
}

.gnb a:before {
	content: '';
	height: 0;
	width: 0;
	display: block;
	position: absolute;
	top: 80%;
	left: 0;
	transition: 0.3s;
}

.gnb a:hover {
	font-weight: 500;
	color: #000;
}

.gnb.dark a:hover {
	font-weight: 500;
	color: #fff;
}

.gnb a:hover::before {
	display: block;
	border-bottom: 1px solid #bbb;
	width: 100%;
	transition: 0.3s;
}

/* ############## My PlayList ############## */
.myplaylist {
	padding-top: 150px;
}
.myplaylist .slick-initialized .slick-slide {
	display: flex;
}
.myplaylist-inner {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 10px 0;
}
.myplaylist-items {
	display: flex;
	gap: 100px;
	/* text-align: center; */
}

.myplaylist-item {
	flex: 1;
}

.myplaylist-item a {
	
}

.myplaylist-item:hover .myplaylist-img-inner {
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

.myplaylist-item:hover .myplaylist-text {
	font-weight: bold;
	color: #000;
}

.myplaylist-img-inner {
	overflow: hidden;
	border-radius: 20px;
	transition: 0.3s;
}

.myplaylist-img-inner img {
	width: 100%;
	height: 150px;
}

.myplaylist-text {
	margin-top: 30px;
	transition: 0.3s;
	text-align: center;
	font-size: 15px;
}

.myplaylist-text.dark>span {
	color: #fff;
}

/* ############## Tag Song ############## */
.tag-song .section-header {
	justify-content: space-between;
}
.tag-song .section-header .more-btn {
	display: flex;
	align-items: center;
}
.tag-song .section-header .more-btn a {
	border: 1px solid #bbb;
	display: block;
	width: 100px;
	text-align: center;
	background-color: #fff;
	transition: 0.3s;
	padding: 5px 0;
	border-radius: 5px;
}
.tag-song .section-header .more-btn a:hover {
	background-color: #aaa;
	color: #fff;
}
.tag-song-content {
	background-color: #fff;
}
.tag-song-table {
	width: 100%;
	border-top: 1px solid #bbb;
	border-collapse: collapse;
	text-align: center;
	font-size: 13px;
}


.tag-song-table th {
	border: none;
}

.tag-song-table tr {
	display: flex;
	justify-content: center;
	padding: 0px 10px;
	border-bottom: 1px solid #bbb;
}

.tag-song-table tr:first-child {
	padding: 10px;
}

.tag-song-table td:nth-child(2), .tag-song-table td:nth-child(3),
	.tag-song-table td:nth-child(4) {
	position: relative;
}

.tag-song-table td p, .tag-song-table td .tag-song-play, .tag-song-table td .tag-song-plus {
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tag-song-table td .tag-song-play, .tag-song-table td .tag-song-plus {
	font-size: 20px;
	border: 1px solid #bbb;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 0.2s;
}

.tag-song-table td .tag-song-play:hover, .tag-song-table td .tag-song-plus:hover {
	background-color: #555;
	color: #fff;
}

.tag-song-table th:nth-child(1), .tag-song-table td:nth-child(1) {
	flex: 3;
	text-align: left;
}

.tag-song-table th:nth-child(2), .tag-song-table td:nth-child(2) {
	flex: 1;
}

.tag-song-table td:nth-child(2) p {
	width: 100%;
}

.tag-song-table th:nth-child(1) {
	text-align: center;
}

.tag-song-table tr th {
	padding: 5px;
}

.tag-song-table th, td {
	flex: 0.2;
	padding: 10px 5px;
	justify-content: center;
}

.tag-song-info {
	padding: 0 20px;
}

.tag-song-info a {
	display: flex;
	gap: 20px;
}

.tag-song-info:hover .tag-song-name span {
	color: #000;
	font-weight: bold;
}

.tag-song-img-inner {
	flex: 0.5;
	justify-content: center;
	overflow: hidden;
}

.tag-song-img-inner img {
	width: 100%;
}

.tag-song-name {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	position: relative;
}

.tag-song-name span {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-btn {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 10px;
	padding: 10px 0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.table-btn a {
	transition: 0.2s;
}

.table-btn a:hover {
	color: #000;
	font-weight: bold;
}

/* ############## Music Video ############## */
.musicvideo .slick-initialized .slick-slide {
	display: flex;
}

.musicvideo-items {
	display: flex;
	gap: 30px;
	/* text-align: center; */
}

.musicvideo-item {
	flex: 1;
}

.musicvideo-item:hover .musicvideo-text {
	font-weight: bold;
}

.musicvideo-img-inner {
	overflow: hidden;
	transition: 0.3s;
}

.musicvideo-img-inner img {
	width: 100%;
	height: 200px;
}

.musicvideo-text {
	margin-top: 30px;
	transition: 0.3s;
	font-size: 13px;
}

.musicvideo-text.dark>span {
	color: #fff;
}

/* ############## Chat Helper ############## */
.chat-helper-icon {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 10px;
	right: 10px;
}
.chat-helper-icon.active {

}
.chat-helper-start {
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	border: 3px solid #76bde9;
	border-radius: 50%;
	background-color: #fff;
}
.chat-helper-start:hover .chat-helper-img {
	scale: 1.1;
}
.chat-helper-img {
	width: 100%;
	top: 0;
	right: 0;
	padding: 5px;
	transition: 0.2s;
}
.chat-helper-main {
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #d5c0dc;
	height: 450px;
	width: 300px;
	position: fixed;
	bottom: 100px;
	right: 20px;
	z-index: 100;
	padding: 10px;
	/* opacity: 0; */
	/* display: none; */
	scale: 0;
	transition: 0.3s;
}
.chat-helper-main.active {
	/* opacity: 100; */
	/* width: 300px;
	height: 450px; */
	/* display: block; */
	scale: 1;
}
.chat-helper-main:before {
	content: '';
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #d5c0dc;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	rotate: 45deg;
	bottom: -16px;
	right: 15px;
	z-index: -1;
	/* display: none; */
	transition: 0.3s;
	scale: 0;
}
.chat-helper-main.active:before {
	/* display: block; */
	scale: 1;
}
.chat-helper-inner {
	/* border: 1px solid red; */
	width: 100%;
	height: 100%;
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.helper-text {
	/* border: 3px solid blue; */
	background-color: #eee;
	border-radius: 5px;
	flex: 3;
}
.user-text {
	border-radius: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.user-chat {
	flex: 3;
	border-radius: 5px;
	padding: 5px;
	font-size: 13px;
	border: 1px solid #ccc;
}
.user-chat:focus {
	border: 2px solid #ccc;
}
.helper-send {
	border-radius: 5px;
	flex: 0.5;
	font-size: 13px;
	border: 1px solid #ccc;
	transition: 0.2s;
}
.helper-send:hover {
	border: 1px solid #5c5c5c;
}

/* ############## Footer ############## */
footer {
	display: flex;
	justify-content: center;
	background-color: #555;
	color: #fff;
	font-size: 13px;
}

footer.dark {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 13px;
	background-color: rgb(23, 20, 20);
}

.footer-inner {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 1300px;
	padding: 20px 0;
}

.footer-logo {
}

.footer-logo img {
	width: 200px;
	height: 50px;
}

.copyright {
	display: flex;
	justify-content: space-between;
}

.service span {
	display: block;
}

.service-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.service-text span {
	margin: 0 10px;
}

.service-text span:nth-child(3) {
	font-weight: 500;
	cursor: pointer;
}

.service-text span:after {
	content: '|';
	margin-left: 20px;
}

.service-text span:last-child:after {
	display: none;
}

.sns {
	font-size: 30px;
	text-align: right;
}

.sns a {
	margin-left: 20px;
}

.sns.dark a i {
	color: #fff;
}

.sns a i {
	transition: 0.3s;
}

.sns a:nth-child(1):hover i {
	color: #1977f3;
}

.sns a:nth-child(2):hover i {
	color: #b73498;
}

.sns a:nth-child(3):hover i {
	color: #1da1f3
}

.sns a:nth-child(4):hover i {
	color: #ff0000;
}

.sub-text {
	border-top: 1px solid #fff;
}