@charset "EUC-KR";
/*
적용 페이지: melody_   albumDetail, albumList, songDetail, songList   .jsp
작성자: 이유진
*/
*{
		margin-left: 10px;
		margin-top: 10px;
		background-color:WhiteSmoke;
	}
	img{
		width: 200px;
		height: 200px;
	}
	iframe{
			width: 200px;
			height: 200px;
			border: 0;
			border-radius: 15px;
	}
	a{
		text-decoration: none;
		color: gray;
	}
	a:hover{
		text-decoration: underline;
		font-weight: bold;
	}

	hr{
		width: 80%;
	}
	input[type="text"]{
		border: 1px solid gray;
	}
		.rating_star {
	    display: inline-block;
	    font-size: 30px;
	    line-height: 1;
	}

	.album_Likes{
		background: none;
		border: 0;
		cursor: pointer;
	}
	.fa-heart{
		font-size: 2em;
	}
	.album_Likes i{
		color:pink;
	}
	
	.rating_box{
		display: flex;
	}
	
	.rating{
		position: relative;
		color: #ddd;
		font-size: 30px;
		text-align: center;
	}
	
	.rating input{
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
	
	.rating_sta{
		width: 0;
		color: #ffc107;
		position: absolute;
		left: 0;
		right: 0;
		overflow: hidden;
		pointer-events: none;
	}
	
	#rating_text{
		font-size: 12pt;
		color: black;
	}
	
		.song_Likes{
		background: none;
		border: 0;
		cursor: pointer;
	}

	.song_Likes i{
		color:pink;
	}
	#musicCount{
		width: 500px;
		height: 100px;
		
	}