@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Dongle:wght@300;400;700&family=Poppins:wght@300&display=swap');
html {
  min-height: 100%;
  display: grid;
}

body {
  background: whitesmoke;
  display: grid;
  overflow: hidden;
  margin-top: 100px;
}

#player {
  background: white;
  position: relative;
  margin: auto;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#player:hover {
  transform: scale(1.05);
}

.album {
  width: 100%;
  height: 100%;
  position: absolute;
}

.albumImg {
  /*background: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimage.bugsm.co.kr%2Falbum%2Fimages%2F500%2F40885%2F4088574.jpg&type=sc960_832");*/
  background-repeat: no-repeat;
  background-size: 300px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px gray;
  height: 100px;
  width: 300px;
  height: 300px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  overflow: hidden;
}
.albumImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;}

.blankedHeart {
  position: absolute;
  right: 0;
  margin: 25px;
  transition: all 1s ease;
  cursor: pointer;
}
.coloredHeart {
  position: absolute;
  right: 0;
  margin: 25px;
  transition: all 1s ease;
  cursor: pointer;
  scale: 1.1;
}

.clicked {
  color: #49654D;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.info {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: whitesmoke;
  border-radius: 10px;
}

.progressBar {
  height: 5px;
  width: 70%;
  margin: 3% auto;
}

#progress {
  background: #c2d2d9;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #89a3a9;

}

.current, .duration {
  color: #364F3C;
  font-size: 15px;
  position: absolute;
  margin-top: -10px;
}

.current {
  left: 60px;
}

.duration {
  right: 60px;
}

.currentlyPlaying {
  text-align: center;
  margin-top: -3px;
}

.songName, .artistName {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3;

}

.songName {
  font-size: 1em;
  letter-spacing: 3px;
  color: #364F3C;
  margin-top: 40px;
}

.artistName {
  font-size: 0.7em;
  letter-spacing: 1.5px;
  color: #557c5f;
}

.controls {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  color: #89a9a9;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}
.controls div i {
  width: 20px;
}

.controls .play, .controls .pause {
  margin: 15px 25px;
  color: #6e946c;
  cursor: pointer;
}

.controls .option {
  left: 30px;
  position: absolute;
  font-size: 0.8em;
}

.controls .volume {
  right: 250px;
  font-size: 0.8em;
  position: absolute;
}

.controls .volumeCtrl {
  width: 20px;
  height: 90px;
  background: hsl(117, 16%, 80%);
  border-radius: 10px;
  position: absolute;
  bottom: 57px;
  right: 251px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.controls .volumeCtrl.hidden {
  display: none;
}

.controls .volumeBg {
  width: 5px;
  height: 90%;
  margin-top: 5px;
  border-radius: 3px;
  background-color: whitesmoke;
  position: absolute;
  overflow: hidden;
}

.controls .volumeRange {
  -webkit-appearance: none;
  width: 83px;
  position: absolute;
  right: 0;
  top: -11px;
  background: transparent;
  transform-origin: center right;
  transform: rotate(270deg);
  overflow: hidden;
  cursor: pointer;
}
.controls .volumeRange:focus {
  outline: none;
}
.controls .volumeRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.controls .volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 15px;
  border-radius: 50%;
  background: white;
  box-shadow: -100vw 0 0 100vw gray;
}

.controls .mute {
  right: 250px;
  font-size: 0.8em;
  position: absolute;
}

.controls .repeat {
  margin-right: 30px;
  font-size: 0.8em;
}

.controls .shuffle {
  margin-left: 30px;
  font-size: 0.8em;
}

.play, .pause, .next, .previous, .option, .volume, .shuffle {
  transition: all 0.5s ease;
}
.play:hover, .pause:hover, .next:hover, .previous:hover, .option:hover, .volume:hover, .shuffle:hover {
  color: #557c5f;
}